
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

 .body{
    font-family: "Kedebideri", sans-serif;
 }
 .f-s-1{
    font-size: 12px;
 }

 .text-gray{
    color: rgba(245, 244, 244, 0.808);
 }
 .text-greens{
    color: #59ab6e ;
 }