
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&display=swap');

 .body{
    font-family: "Kedebideri", sans-serif;
 }
 .f-s-1{
    font-size: 12px;
 }
 .f-s-0{
    font-size: 70px;
 }

 .text-gray{
    color: rgba(245, 244, 244, 0.808);
 }
 .text-greens{
    color: #59ab6e ;
 }
 #hero{
    background-color: #efefef !important;
 }
 .py-8{
    padding:80px;
 }
 .cata{
width:500px;
margin: auto;
 }
 .btn{
   color: white;
   height: 40px !important;
    background-color: #59ab6e;
 }
 .btn:hover{
    color: #59ab6e;
    font-weight: bold;
 }
 .bg-light{
   background-color: #e9eef5 !important;
 }